.text-white {
    color: #fff !important;
}
.bg-indigo {
    background-color: hsla(231, 48%, 48%, 1) !important;
}

.lock {
    color: #ff9100;
}

.unlock{
    color: dodgerblue;
}

.bg-red {
    background-color: #ff0800 !important;
}

.bg-blue {
    background-color: dodgerblue !important;
}

.rounded-1 {
    border-radius: 4px !important;
}
.py-1 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.px-2 {
    padding-right: 8px !important;
    padding-left: 8px !important;
}

th {
    background-color: hsla(0, 0%, 96%, 1) !important;
    color: #3e3e3e !important;
    font-weight: bold !important;
}
